# ************************************************************************
#  @author:     Andreas Kaeberlein
#  @copyright:  Copyright 2021
#  @credits:    AKAE
#
#  @license:    GPLv3
#  @maintainer: Nuno Brum
#  @email:      me@nunobrum.com
#
#  @file:       unittest.yml
#  @date:       2023-08-09
#
#  @brief:      runs unit test
#
# ************************************************************************


name: Unittest

on: [push]

jobs:
  Unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.7' # Version range or exact version of a Python version to use, using semvers version range syntax.
          architecture: 'x64'   # optional x64 or x86. Defaults to x64 if not specified
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy
      - name: Test sweep_iterators.py
        run: |
          python ./unittests/sweep_iterators/sweep_iterators_unittest.py
      - name: Test LTSpice_RawRead
        run: |
          python ./unittests/test_pyltspice.py
      - name: Test Asc_Editor
        run: |
          python ./unittests/asc_editor_test.py
         
